body{
  --COLOR: #226DFF;    // ACTIVE COLOR
  --COLOR: #191919;    // BACKGROUND EDITORS
  --COLOR: #282828;    // BACKGROUND 2 HEADERS LISTS, BORDERS  Y #FFFFFF12
  --COLOR: #E6E8EF;    // TEXT
  --COLOR: #22DDCC;    // GREEN
  --COLOR: #AADDFF;    // BLUE
  --COLOR: #FFEEBB;    // YELLOW
  --COLOR: #FF88AA;    // RED  
  --COLOR: #D8E4FC75;  // COMMENTS
  --COLOR: #9999ff;    // PURPLE
  --COLOR: #88FFFF;    // CYAN
  
