body{
  background-color: #fff;
  --neon-red: #fa5252;
  --neon-cyan: #00ffff;
  --neon-pink: #ff1493;
  --neon-purple: #be4bdb;
  --neon-purple-on-dark: #9461fd;
  --neon-blue: #2dd9fe;
  --neon-green: #82c91e;
  --neon-orange: #fd7e14;
  --neon-yellow: #ffe066;

  --xx: #007eff;
  --xx: #1e212f;
  --xx: #222635;
  --xx: #262a3b;
  --xx: #2f3346;
  --xx: #e6e8ef;
  --xx: #72f9c8;
  --xx: #8edfff;
  --xx: #fff6b5;
  --xx: #f3a0bc;

  
// Default colors
  --yy: #1D212F; // widgets
  --yy: #1E2130; // Texts
  --yy: #E6E8EF;
  --yy: #E6E8EF12;
  --yy: #D8E4FC75; // comments
  --yy: #8EDFFF; // blue
  --yy: #72F9C8; // gren
  --yy: #FF9A78; // orange
  --yy: #FF84BD; // red
  --yy: #b486ff; // purple
  --yy: #FF1A72; // red strong
  --yy: #FFF6B5; // yellow
  --yy: #f2edcc;// yellow light

// Ansi
  --aa: #7A7A7A;
  --aa: #FF84BD;
  --aa: #72F9C8;
  --aa: #FFF6B5;
  --aa: #8EDFFF;
  --aa: #b486ff;
  --aa: #8EDFFF;
  --aa: #E6E8EF;
  --aa: #9A9A9A;
  --aa: #FF1A72;
  --aa: #37E888;
  --aa: #FFEF7C;
  --aa: #2990FA;
  --aa: #8750DE;
  --aa: #226dff;
  --aa: #E6E8E;

  --cc: #0080ff69; // "selection hover":
  --cc: #222635; // "bg panels"
}



