body{
  --COLOR: #226DFF;    // ACTIVE COLOR
  --COLOR: #007EFF;    // ACTIVE SECONDARY
  --COLOR: #191919;    // BACKGROUND EDITORS
  --COLOR: #282828;    // BACKGROUND 2 HEADERS LISTS, BORDERS 
  --COLOR: #2B2B2B;    // BACKGROUND 3 WIDGETS
  --COLOR: #E6E8EF;    // TEXT
  --COLOR: #65E7DC;    // GREEN
  --COLOR: #22DDCE;    // GREEN 2
  --COLOR: #8EDFFF;    // BLUE
  --COLOR: #6BD5FE;    // BLUE 2
  --COLOR: #FFF8CB;    // YELLOW
  --COLOR: #F2EDCC;    // light YELLOW
  --COLOR: #FF8DC7;    // RED
  --COLOR: #FD6C9D;    // RED 2
  --COLOR: #D8E4FC75;  // COMMENTS
  --COLOR: #A99CFA;    // PURPLE
  --COLOR: #ad99fe;    // PURPLE 2
  --COLOR: #FF9A78;    // ORANGE
  --COLOR: #FF1A72;    // RED STRONG
  --COLOR: #0080FF69;  // SELECTION HOVER COLOR:
  --COLOR: #222635;    // BG PANELS"
  --COLOR: #00D0FF;    // LIST TEXT MATCH

  
  
  // ANSI
  --ANSI: #7A7A7A;
  --ANSI: #F3A0BC;
  --ANSI: #36D4C7;
  --ANSI: #FFF6B5;
  --ANSI: #8EDFFF;
  --ANSI: #00FFFF;
  --ANSI: #B486FF;
  --ANSI: #E6E8EF;
  --ANSI: #9A9A9A;
  --ANSI: #FF1A72;
  --ANSI: #37E888;
  --ANSI: #FFEF7C;
  --ANSI: #2990FA;
  --ANSI: #8750DE;
  --ANSI: #00FFFF;
  


}



